{% extends 'overall/layout' %}
{% block appTitle %}PRINICK | ERROR 404{% endblock %}
{% block appBody %}
<div class="section no-pad-bot" id="index-banner" style="height: 100%!important">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>Error </span> 
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">404</b>
            </span>
            <br />
            <span>Página no encontrada</span>
        </h1>
    </div>
</div>    
{% endblock %}